.hidden {
  visibility: hidden;
}

.branding {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

.reveal pre {
  box-shadow: none;
}

.reveal pre.contact {
  font-size: 32px;
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

body > .CodeMirror {
  visibility: hidden;
}

.CodeMirror {
  font-family: monospace !important;
  line-height: 1.2em !important;
}

section#rest-param-traverse .CodeMirror,
section#arrow-fn-traverse .CodeMirror {
  display: block;
  position: relative;
  margin: 0;
  left: 200px;
}

.CodeMirror.big {
  font-size: 32px;
}

.CodeMirror.small {
  font-size: 20px;
}

section.full_height,
section.external_iframe {
  height: 100%;
}

.links {
  text-align: left;
  padding-left: 150px !important;
}

.external_iframe iframe {
  width: 100%;
  height: 90%;
  margin: 50px 0 0 0;
}

section table {
  width: 100%;
}

section table.top td {
  vertical-align: text-top;
}

img.instagram {
  zoom: 1 !important;
}

.reveal section .thanks {
  position: relative;
  top: -30px;
}

.reveal section .thanks h2 {
  color: white;
  position: absolute;
  left: 200px;
  top: 350px;
}

.reveal section .thanks img {
  z-index: -1;
}

.CodeMirror {
  background: none;
  height: auto;
  display: inline-block;
  margin: 20px auto;

  overflow-x: auto;
  overflow-y: hidden;
  font-family: monospace;
}

.reveal section .CodeMirror-scroll {
  padding: 1em;
  margin: -1em;
}
